div#header span {
	left: 85px;
	top: 68px;
}

div#header h1 {
	font-size: 28px;
}

div#header img {
	height: 80px;
}

.firstname, .middlename, .lastname, .emailaddress, .calculatedpassword, .lunchcode, th.active, td.active, .emailid, .createdon {
	display: none;
}

#login_form span.psw {
	display: block;
	float: none;
}
#login_form .cancelbtn {
	width: 100%;
}

#popup {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

table {
	width: 100%;
}

.pagination {
	max-width: 100%;
	font-size: 16px;
}

#newbtn {
	padding-left: 24px;
	background-size: 20px 20px;
	font-size: 16px;
	scale: 0.8;
}

#searchbtn {
	background: none;

	background-image: url('images/icon_magnifyingglass.gif');
	background-repeat: no-repeat;
	background-position: center middle;
	background-size: 21px 21px;

	height: 24px;
	width: 24px;
	border: none;
	margin-right: 10px;
	scale: 0.8;
}

input[name=srch] {
	font-size: 16px;
	scale: 0.8;
}

table, th, td {
	font-size: 8px;
}
