@import url('https://fonts.googleapis.com/css?family=Exo:700|Molle:400i');

td.active, th.active, .fullname {
	display: none;
}

.manufacturer, .description, .proc {
	display: none;
}

body {
	font-family: Verdana;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

div#topbar {
	background-color: #777;
	padding: 0px;
	color: #fff;
	border-bottom: 1px solid gold;
	height: 24px;
}

div#topbar span a, div#topbar span a:visited, div#topbar span a:active {
	color: #ffa;
	text-decoration: none;
}

div#topbar span a:hover {
	text-decoration: underline;
}

div#topbar span {
	float: right;
	padding: 5px 10px;
}

div#topbar ul {
	list-style-type: none;
	display: inline;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

div#topbar li {
	display: inline;
	padding: 10px;
	cursor: default;
	font-weight: bold;
}

div#topbar li:hover {
	background-color: #69c;
}

div#header {
	background-color: #69c;
	padding: 3px 12px 3px 12px;
	margin: 0px 0px 0px 0px;
	color: #fff;
	background-image: url('/images/headerbg (6).jpg');
	background-size: 100%;
	min-height: 95px;
	background-position: 50% 50%;
}

div#header h1 {
	font-family: 'Exo', san-serif;
	font-size: 32px;
}

div#header span {
	font-family: 'Molle', cursive;
	color: red;
	position: absolute;
	font-size: 20px;
	top: 75px;
	left: 120px;
}

div#header img {
	float: right;
	height: 90px;
}

div#subheader {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	padding: 5px;
	min-height: 27px;
}

div#subheader span {
	float: right;
}

div#error {
	margin: 20px auto;
	border: 1px solid #a00;
	padding: 15px;
	text-align: center;
	background-color: #f66;
	font-weight: bold;
	white-space:nowrap;
	width: 50%;
}

div#msg {
	margin: 20px auto;
	border: 1px solid #0a0;
	padding: 15px;
	text-align: center;
	background-color: #6f6;
	font-weight: bold;
	white-space:nowrap;
	width: 50%;	
}

#searchbtn {
	background: none;

	background-image: url('/images/icon_magnifyingglass.gif');
	background-repeat: no-repeat;
	background-position: center middle;
	background-size: 20px 20px;

	height: 25px;
	width: 25px;
	position: relative;
	top: 2px;
	border: none;
	margin-right: 10px;
}

input {
	margin: 3px;
}

table {
	margin: 20px auto;
	border-spacing: 0;
	border-collapse: collapse;
	border-radius: 15px;

	min-width: 80%;
}

/*
table th:first-child {
	border-radius: 15px 0px 0px 0px;
}

table th:last-child {
	border-radius: 0px 15px 0px 0px;
}

table tr:first-child {
	border-radius: 15px 15px 0px 0px;
}
*/

table, td, th {
	border: 1px solid #000;
	white-space: nowrap;
	font-family: Verdana;
	font-size: 12px;
}

th {
	background: #00b7ea;
	background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%);
	background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%);
	background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );

/*	background-color: #0c3c6c; */
	color: #fff;
	padding: 7px 5px 0px 5px;
	text-align: left;
}

tr {
	cursor: default;
}

tr:nth-child(even) {
	background-color: #fff;
}

tr:nth-child(odd) {
	background-color: #ddd;
}

/*
tr.active {
	background-color: #afa;
}
*/

tr.active:nth-child(even) {
	background-color: #afa;
}

tr.active:nth-child(odd) {
	background-color: #9c9;
}

/*
tr:hover {
	background-color: #fca;
}
*/

tr:hover:nth-child(even) {
	background-color: #fca;
}

tr:hover:nth-child(odd) {
	background-color: #c96;
}

td {
	padding: 5px;
}

span.sortarrow {
	 font-size: 16px;
	 float: right;
}

#newbtn {
	background-image: url('/images/user_add.png');
	background-repeat: no-repeat;
	background-position: left middle;
	padding-left: 20px;
	background-size: 16px 16px;
}

#login_form {
	border: 3px solid #a1a1a1;
	margin: 20px auto;
	display: block;
	width: 300px;
}

#login_form input[type=text], #login_form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login_form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#login_form .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

#login_form .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

#login_form img.avatar {
    width: 40%;
    border-radius: 50%;
}

#login_form .container {
    padding: 16px;
}

#login_form span.psw {
    float: right;
    padding-top: 16px;
}

footer {
	border: 1px solid #a80;
	background-color: #dca;
	padding: 25px;
	margin: 20px auto;
	max-width: 600px;
}

#popup {
	border: 3px solid #ccc;
	position: absolute;
	height: 300px;
	width: 300px;
	display: none;
	background-color: #fff;
	box-shadow: 5px 5px 20px #333;
	-moz-box-shadow: 5px 5px 10px #333;
	-webkit-box-shadow: 5px 5px 10px #333;
}

#popupframe {
	border: none;
	height: 100%;
	width: 100%;
}

#titlebar {
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
	background-color: #ccc;
}

#titlebar button {
	float: right;
}

.formblock {
	display: block;
	text-align: center;
	vertical-align: top;
}

.formblockleft {
	padding: 3px 0px 3px 5px;
	width: 36%;
	display: inline-block;
	vertical-align: top;
}

.formblockright {
	width: 60%;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.formblockright input[type=text] {
	width: 90%;
}

.pagination {
	max-width: 80%;
	margin: 20px auto;
}
